@model Finance.Models.PaymentStatement

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление</h2>

<h5>Вы уверены что хотите удалить это?</h5>
<div>
    @*<h4>Платежная ведомость</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.KltId)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.KltId)
        </dd>*@

        <dt>
            @*@Html.DisplayNameFor(model => model.InvoiceNumber)*@
            № Счета
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.InvoiceDate)*@
            Дата счета
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.InvoiceSumma)*@
            Сумма
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceSumma)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Comment)*@
            Комментарий
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.InvoiceChecked)*@
            Проверен
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceChecked)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.PaymentApproved)*@
            В оплату
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentApproved)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.PaymentDone)*@
            Оплачен
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDone)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.DocumentUrl)*@
            @*Открыть счет*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DocumentUrl)*@
            <button type="button" onclick="window.open('@Url.Action("GetFileUrl", new { id = Model.Id })')">
                Открыть счет
            </button>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
