@model IEnumerable<Finance.Models.PaymentStatement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("MenuBar", "PaymentStatements")

<h2>Список платежей</h2>

<p>
    @Html.ActionLink("Добавить в оплату", "Create")
</p>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.InvoiceNumber)*@
            Счет №
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.InvoiceDate)*@
            Счет дата
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.InvoiceSumma)*@
            Сумма
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Comment)*@
            Коммент.
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.InvoiceChecked)*@
            Проверен
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PaymentApproved)*@
            К оплате
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PaymentDone)*@
            Оплачен
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DocumentUrl)*@
            Счет(файл)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KltId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceSumma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceChecked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDone)
        </td>
        <td>
            <button type="button" onclick="window.open('@Url.Action("GetFileUrl", new { id=item.Id })')">
                Открыть счет
            </button>
            @*@Html.DisplayFor(modelItem => item.DocumentUrl)*@
        </td>
        <td>
            <a href='@Url.Action("Edit", new { id = item.Id })'>
                <img src="~/pictures/icons8-pencil-50.png" alt="Редактировать" title="Редактировать" />
            </a>
            @*<a href='@Url.Action("Details", new { id = item.Id })'>
                <img src="~/pictures/icons8-information-2.png" alt="Детальнее" title="Детальнее" />
            </a>*@
            <a href='@Url.Action("Delete", new { id = item.Id })'>
                <img src="~/pictures/icons8-delete-2.png" alt="Удалить" title="Удалить" />
            </a>
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
